<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>XoaTinTuc</servlet-name>
        <servlet-class>controller.XoaTinTuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemTin</servlet-name>
        <servlet-class>controller.ThemTin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuaTin</servlet-name>
        <servlet-class>controller.SuaTin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>controller.Comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThaTim</servlet-name>
        <servlet-class>controller.ThaTim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XacThuc</servlet-name>
        <servlet-class>controller.XacThuc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XoaTinTuc</servlet-name>
        <url-pattern>/XoaTinTuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemTin</servlet-name>
        <url-pattern>/ThemTin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuaTin</servlet-name>
        <url-pattern>/SuaTin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThaTim</servlet-name>
        <url-pattern>/ThaTim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XacThuc</servlet-name>
        <url-pattern>/XacThuc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            uploads\
        </param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- SMTP -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>vudtpk00714@fpt.edu.vn</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>ItsAllInVain</param-value>
    </context-param>
</web-app>
